body {
  margin: 0px;
  overflow: hidden;
}
a.logo {
  position: absolute;
  color: white;
  vertical-align: middle;
  bottom: 10px;
  left: 10px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  width: 100%;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  width: 50px;
  height: 50px;
}
body {
  margin: 0;
  background-color: #1a1c1f;
}
#myCanvas {
  display: block;
  width: 100%;
  height: 100vh;
}
.myCanvasZone {
  width: 100%;
  height: 100vh;
}