$font-size-small: 12px;
$font-weight: 400;
$background-colour: #1a1c1f;
$mid-bacgkround-colour: #24272c;
$light-background-colour: #2e3136;
$input-colour: white;

::ng-deep button {
    outline: none !important;
}

mat-card-subtitle {
    font-size: $font-size-small;
}

img.script-image {
    width: 100%;
    max-width: 125px;
    object-fit:contain;
}

.actions {
    float: right;
}

.actions button {
    margin-left: 10px;
    box-shadow: none;
    background-color: $background-colour;
}

::ng-deep p {
    font-weight: $font-weight;
}

mat-expansion-panel {
    background-color: $mid-bacgkround-colour;
    color: white;
}

mat-expansion-panel-header {
    background-color: $mid-bacgkround-colour;
    color: white;
}

mat-panel-title {
    // background-color: $mid-bacgkround-colour;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}


mat-expansion-panel-header .actions {
    margin-right: 30px;
}

mat-panel-description {
    background-color: $mid-bacgkround-colour;
    color: white;
}

mat-card {
    background-color: $background-colour;
    color: white;
}

mat-card-title {
    font-weight: $font-weight;
}

mat-card-subtitle {
    background-color: $background-colour;
    color: white;
    font-weight: $font-weight;
}

.category {
    background-color: $light-background-colour;
}

h5, h4 {
    font-weight: bold;
    display: inline-block;
}

dt {
    display: inline-block;

    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    font-size: $font-size-small;
    margin-right: 20px;
    vertical-align: top;
    min-width: 100px;
}

.file-list {
    border: 1px solid $light-background-colour;
    padding: 10px;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid $light-background-colour;
}

dd {
    display: inline-block;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    font-size: $font-size-small;
    font-weight: $font-weight;
}

::ng-deep .mat-expansion-indicator::after {
    color: $input-colour;
}

.empty-list {
    font-weight: $font-weight;
    font-size: 13px;
}