{
  "openapi": "3.1.0",
  "info": {
    "title": "Bitbybit CAD Cloud API",
    "version": "1.0.0",
    "description": "High-performance parametric CAD model generation API. Supports multi-format output (STEP, GLTF, decomposed mesh), pipeline execution, file-based conversion, and async job processing.",
    "contact": {
      "name": "Bitbybit",
      "url": "https://bitbybit.dev"
    },
    "termsOfService": "https://bitbybit.dev/terms-and-conditions",
    "license": {
      "name": "Proprietary",
      "url": "https://bitbybit.dev/terms-and-conditions"
    }
  },
  "servers": [
    {
      "url": "https://api.bitbybit.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cad/execute": {
      "post": {
        "tags": [
          "CAD Operations"
        ],
        "summary": "Execute a single CAD operation",
        "description": "Runs a single CAD operation by its fully-qualified identifier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CadOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cad/pipeline": {
      "post": {
        "tags": [
          "CAD Operations"
        ],
        "summary": "Execute a chained pipeline of CAD operations",
        "description": "Runs multiple operations sequentially. Use '$ref:N' in params to reference step N's result.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline result (last step)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CadOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cad/compound": {
      "post": {
        "tags": [
          "CAD Operations"
        ],
        "summary": "Execute compound (parallel) CAD operations",
        "description": "Runs multiple independent operations in parallel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompoundExecuteBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compound result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CadOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List available parametric models",
        "responses": {
          "200": {
            "description": "Model name list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/definitions": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Batch-fetch model definitions",
        "description": "Returns parameter schemas and defaults for the requested model names.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefinitionsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelBatchDefinitionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/{modelName}": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Execute a parametric CAD model",
        "description": "Generic endpoint — works for any registered model. See model-specific endpoints for fully typed parameters. Always returns 202 with a task ID for polling.",
        "parameters": [
          {
            "name": "modelName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Model slug (e.g. dragon-cup, phone-nest)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelSubmissionBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/{modelName}/batch": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Generate a batch of parametric models",
        "description": "Creates a compound task with one sub-task per item. Each item can have different parameters but shares the same output config.",
        "parameters": [
          {
            "name": "modelName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Model slug (e.g. dragon-cup, phone-nest)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModelSubmissionBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Compound task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompoundTaskAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/{modelName}/params": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get model parameter definitions",
        "description": "Returns parameter schema, types, defaults, and limits for the specified model.",
        "parameters": [
          {
            "name": "modelName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Model slug (e.g. dragon-cup, phone-nest)"
          }
        ],
        "responses": {
          "200": {
            "description": "Model definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDefinitionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/dragon-cup": {
      "post": {
        "tags": [
          "Models — Dragon Cup"
        ],
        "summary": "Build a Dragon Cup",
        "description": "Parametric dragon-scale textured cup with twisted lofted body, voronoi-like skin cells, and configurable shell thickness. All parameters are optional — defaults produce a ready-to-print model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "params": {
                  "height": 8,
                  "radiusBottom": 4,
                  "radiusTopOffset": 2,
                  "radiusMidOffset": 2,
                  "rotationTopAngle": 20,
                  "rotationMidAngle": 20,
                  "nrSkinCellsVertical": 5,
                  "nrSkinCellsHorizontal": 10,
                  "nrSkinCellDivisionsTop": 1,
                  "nrSkinCellDivisionsBottom": 3,
                  "skinCellOuterHeight": 0.4,
                  "skinCellInnerHeight": 0.3,
                  "skinCellBottomHeight": 0.4,
                  "skinCellTopHeight": 0.4,
                  "thickness": 0.6,
                  "bottomThickness": 1,
                  "precision": 0.01,
                  "rotation": 0,
                  "scale": 1,
                  "origin": [
                    0,
                    0,
                    0
                  ],
                  "direction": [
                    0,
                    1,
                    0
                  ]
                },
                "outputs": {
                  "formats": [
                    "step",
                    "gltf"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/DragonCupBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/phone-nest": {
      "post": {
        "tags": [
          "Models — Phone Nest"
        ],
        "summary": "Build a Phone Nest",
        "description": "Parametric 3D-printable desktop phone holder/stand with a lofted cradle surface, optional ornamental perforations, and a phone mock-up shape. All parameters are optional — defaults produce a ready-to-print model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "params": {
                  "heightBottom": 5,
                  "heightTop": 16,
                  "widthBack": 25,
                  "widthFront": 10,
                  "length": 16,
                  "backOffset": 6,
                  "thickness": 0.4,
                  "applyOrnaments": false,
                  "filletRadius": 2,
                  "phoneHeight": 16.8,
                  "phoneWidth": 7.8,
                  "phoneThickness": 0.7,
                  "precision": 0.01,
                  "rotation": 0,
                  "scale": 1,
                  "origin": [
                    0,
                    0,
                    0
                  ],
                  "direction": [
                    0,
                    1,
                    0
                  ]
                },
                "outputs": {
                  "formats": [
                    "step",
                    "gltf"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/PhoneNestBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/step-to-gltf": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert a STEP file to GLTF (.glb)",
        "description": "Simple STEP → glTF conversion using a previously uploaded file. Requires the 'convert' API key scope. Returns 202 with a task ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepToGltfBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/convert/step-to-gltf-advanced": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert a STEP file to GLTF (.glb) - advanced options",
        "description": "Full-control STEP → glTF conversion with fine-grained mesh, export, and coordinate options. Requires the 'convert' API key scope. Returns 202 with a task ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepToGltfAdvancedBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files/upload": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Request a file upload URL",
        "description": "Returns a pre-signed URL for uploading a file via PUT.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload URL and file ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List uploaded files",
        "description": "Returns paginated list of uploaded files.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "confirmed",
                "expired"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files/{fileId}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file details",
        "description": "Returns metadata and download URL for a single file.",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "File ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file",
        "description": "Permanently removes a file and its stored blob.",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "File ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files/{fileId}/confirm": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Confirm file upload",
        "description": "Confirms that the file was successfully uploaded to the pre-signed URL.",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "File ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List tasks",
        "description": "Returns paginated list of tasks.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "waiting",
                "queued",
                "processing",
                "completed",
                "failed",
                "cancelled",
                "expired"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cad",
                "model",
                "convert-simple",
                "convert-advanced",
                "pipeline",
                "compound"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task status",
        "description": "Returns the current status and metadata of a task.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Cancel a task",
        "description": "Cancels a waiting or queued task. Has no effect on completed/failed tasks.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Task cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelTaskResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{taskId}/result": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task result (default format)",
        "description": "Returns a download URL for the task's primary result. For compound tasks, returns a manifest with per-sub-task download links.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Result download link (standard) or compound manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskOrCompoundResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Task is not yet completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{taskId}/result/{format}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task result in a specific format",
        "description": "Returns a download URL for the requested output format (e.g. glb, step, stpz).",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task ID"
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Result format (e.g. glb, step, stpz, metadata, decomposed-mesh)"
          }
        ],
        "responses": {
          "200": {
            "description": "Result download link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Task is not yet completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{taskId}/results": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get all task results",
        "description": "Returns download URLs for every available result format in a single call. Use this instead of making multiple requests to /result/{format}.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Download links for all available formats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResultsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Task is not yet completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{taskId}/retry": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Retry a failed or cancelled task",
        "description": "Re-queues a failed or cancelled task with the same parameters.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task ID"
          }
        ],
        "responses": {
          "202": {
            "description": "Task re-queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAcceptedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Task is not in a retryable state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExecuteBody": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "minLength": 1,
            "description": "Fully-qualified CAD operation identifier (e.g. 'occt.shapes.solid.createBox', 'manifold.primitives.cube', 'jscad.booleans.union'). Supports OCCT, Manifold, JSCAD, and vector/math operations."
          },
          "params": {
            "description": "Operation-specific parameters — varies by operation. See model definitions for available parameters."
          }
        },
        "required": [
          "operation"
        ],
        "additionalProperties": false,
        "description": "Execute a single Bitbybit CAD operation. The operation runs asynchronously and returns a task ID for polling."
      },
      "PipelineBody": {
        "type": "object",
        "properties": {
          "steps": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineStep"
            },
            "description": "Ordered list of CAD operations executed sequentially. Later steps can reference earlier results using '$ref:N' syntax."
          },
          "outputs": {
            "description": "Output format options applied to the final pipeline result. If omitted, raw result data is stored.",
            "$ref": "#/components/schemas/OutputOptions"
          }
        },
        "required": [
          "steps"
        ],
        "additionalProperties": false,
        "description": "Execute a chain of Bitbybit CAD operations sequentially. Each step can reference earlier step outputs via '$ref:N'. The final step's output is stored as the task result."
      },
      "PipelineStep": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "minLength": 1,
            "description": "Fully-qualified CAD operation identifier (e.g. 'occt.shapes.solid.createSphere'). Supports OCCT, Manifold, JSCAD, and vector/math operations."
          },
          "params": {
            "description": "Operation parameters. Use '$ref:N' (e.g. '$ref:0') to reference the output of a previous step by its zero-based index."
          }
        },
        "required": [
          "operation",
          "params"
        ],
        "description": "A single step in a sequential CAD pipeline. Steps can reference outputs of earlier steps via $ref."
      },
      "OutputOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputFormat"
            },
            "description": "Output formats to generate. Multiple formats can be requested (e.g. ['gltf', 'stpz']) — each produces a separate downloadable result. Do not include both 'step' and 'stpz' — only one STEP variant is supported per request."
          },
          "meshPrecision": {
            "description": "Tessellation precision for mesh-based outputs (decomposed-mesh and gltf). Lower values produce denser meshes. Only ignored when output is limited to step/stpz formats.",
            "$ref": "#/components/schemas/MeshPrecision"
          },
          "gltfMeshPrecision": {
            "description": "Override tessellation precision specifically for glTF output. When set, takes precedence over meshPrecision for glTF only.",
            "$ref": "#/components/schemas/MeshPrecision"
          },
          "adjustYtoZ": {
            "description": "Convert from Y-up to Z-up coordinate system in the output. Useful for software that expects Z-up.",
            "type": "boolean"
          }
        },
        "required": [
          "formats"
        ],
        "additionalProperties": false,
        "description": "Controls which output formats are generated and their quality settings"
      },
      "OutputFormat": {
        "type": "string",
        "enum": [
          "step",
          "stpz",
          "decomposed-mesh",
          "gltf"
        ],
        "description": "Output file format: 'step' (raw STEP), 'stpz' (gzip-compressed STEP), 'decomposed-mesh' (triangulated JSON), 'gltf' (glTF 2.0 binary .glb). Note: 'step' and 'stpz' are mutually exclusive — choose one or the other, not both."
      },
      "MeshPrecision": {
        "type": "number",
        "minimum": 0.005,
        "maximum": 10,
        "description": "Mesh tessellation precision (lower = finer). Range: [0.005, 10]"
      },
      "CompoundExecuteBody": {
        "type": "object",
        "properties": {
          "parallel": {
            "type": "boolean",
            "const": true,
            "description": "Must be true — signals that items should be processed concurrently"
          },
          "items": {
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompoundItem"
            },
            "description": "List of independent CAD operations to execute in parallel. Each item becomes a sub-task."
          }
        },
        "required": [
          "parallel",
          "items"
        ],
        "additionalProperties": false,
        "description": "Execute multiple independent Bitbybit CAD operations in parallel. Each item runs as a separate sub-task and can be polled individually."
      },
      "CompoundItem": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "minLength": 1,
            "description": "Fully-qualified CAD operation identifier. Supports OCCT, Manifold, JSCAD, and vector/math operations."
          },
          "params": {
            "description": "Operation-specific parameters for this sub-task"
          },
          "inputFiles": {
            "description": "References to previously uploaded files to be used as inputs for this operation",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "ID of a previously uploaded file (from POST /files/upload)"
                },
                "role": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Role identifier for the file (e.g. 'step-input'). Determines how the file is used during processing."
                }
              },
              "required": [
                "fileId",
                "role"
              ],
              "additionalProperties": false
            }
          },
          "outputFormats": {
            "description": "Per-item output format overrides. If omitted, the task produces raw result data.",
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          }
        },
        "required": [
          "operation"
        ],
        "additionalProperties": false,
        "description": "A single operation within a compound (parallel) task. Each item runs independently."
      },
      "DefinitionsBody": {
        "type": "object",
        "properties": {
          "names": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Array of model slugs to fetch definitions for (e.g. ['dragon-cup', 'phone-nest'])"
          }
        },
        "required": [
          "names"
        ],
        "additionalProperties": false,
        "description": "Fetch parameter definitions for one or more parametric models. Returns available parameters, types, defaults, and constraints."
      },
      "ModelSubmissionBody": {
        "type": "object",
        "properties": {
          "params": {
            "description": "Model-specific parameters. Omitted params use their defaults. See model definition for available options.",
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "outputs": {
            "$ref": "#/components/schemas/OutputOptions"
          }
        },
        "required": [
          "outputs"
        ],
        "description": "Submit a parametric model for generation with specified parameters and output formats"
      },
      "BatchModelSubmissionBody": {
        "type": "object",
        "properties": {
          "items": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "params": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            },
            "description": "Array of parameter variations. Each item produces a separate output with the same model."
          },
          "outputs": {
            "description": "Output format configuration applied to every item in the batch",
            "$ref": "#/components/schemas/OutputOptions"
          }
        },
        "required": [
          "items",
          "outputs"
        ],
        "description": "Submit multiple parameter variations of the same model for parallel generation"
      },
      "DragonCupBody": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/DragonCupParams"
          },
          "outputs": {
            "$ref": "#/components/schemas/OutputOptions"
          }
        },
        "required": [
          "outputs"
        ],
        "additionalProperties": false,
        "description": "Request body for the Dragon Cup model"
      },
      "DragonCupParams": {
        "type": "object",
        "properties": {
          "height": {
            "description": "Total cup height (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "radiusBottom": {
            "description": "Radius at the base (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 30
          },
          "radiusTopOffset": {
            "description": "How much the top radius differs from bottom",
            "type": "number",
            "minimum": 0,
            "maximum": 20
          },
          "radiusMidOffset": {
            "description": "Mid-section radius offset",
            "type": "number",
            "minimum": 0,
            "maximum": 20
          },
          "rotationTopAngle": {
            "description": "Top twist angle (degrees)",
            "type": "number",
            "minimum": -360,
            "maximum": 360
          },
          "rotationMidAngle": {
            "description": "Mid twist angle (degrees)",
            "type": "number",
            "minimum": -360,
            "maximum": 360
          },
          "nrSkinCellsVertical": {
            "description": "Vertical skin cell count",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 30
          },
          "nrSkinCellsHorizontal": {
            "description": "Horizontal skin cell count",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "nrSkinCellDivisionsTop": {
            "description": "Subdivisions at top of each cell",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10
          },
          "nrSkinCellDivisionsBottom": {
            "description": "Subdivisions at bottom of each cell",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10
          },
          "skinCellOuterHeight": {
            "description": "Outer cell extrusion height",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "skinCellInnerHeight": {
            "description": "Inner cell extrusion height",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "skinCellBottomHeight": {
            "description": "Bottom cell height",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "skinCellTopHeight": {
            "description": "Top cell height",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "thickness": {
            "description": "Shell wall thickness",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "bottomThickness": {
            "description": "Bottom plate thickness",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "precision": {
            "description": "Geometry precision (lower = finer)",
            "$ref": "#/components/schemas/MeshPrecision"
          },
          "rotation": {
            "description": "Final rotation angle (degrees)",
            "type": "number",
            "minimum": -360,
            "maximum": 360
          },
          "scale": {
            "description": "Uniform scale factor",
            "$ref": "#/components/schemas/PositiveScale"
          },
          "origin": {
            "description": "[x, y, z] placement origin",
            "$ref": "#/components/schemas/Point3"
          },
          "direction": {
            "description": "[x, y, z] up direction",
            "$ref": "#/components/schemas/Point3"
          }
        },
        "additionalProperties": false,
        "description": "Dragon Cup model parameters — all optional, sane defaults apply"
      },
      "PositiveScale": {
        "type": "number",
        "minimum": 0.000001,
        "maximum": 1000,
        "description": "Uniform scale factor. Range: [1e-6, 1000]"
      },
      "Point3": {
        "type": "array",
        "prefixItems": [
          {
            "type": "number",
            "minimum": -1000,
            "maximum": 1000
          },
          {
            "type": "number",
            "minimum": -1000,
            "maximum": 1000
          },
          {
            "type": "number",
            "minimum": -1000,
            "maximum": 1000
          }
        ],
        "description": "3D point as [x, y, z] tuple, each coordinate in [-1000, 1000]"
      },
      "PhoneNestBody": {
        "type": "object",
        "properties": {
          "params": {
            "$ref": "#/components/schemas/PhoneNestParams"
          },
          "outputs": {
            "$ref": "#/components/schemas/OutputOptions"
          }
        },
        "required": [
          "outputs"
        ],
        "additionalProperties": false,
        "description": "Request body for the Phone Nest model"
      },
      "PhoneNestParams": {
        "type": "object",
        "properties": {
          "heightBottom": {
            "description": "Height of the bottom section (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "heightTop": {
            "description": "Height of the top section (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "widthBack": {
            "description": "Width at the back (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "widthFront": {
            "description": "Width at the front (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "length": {
            "description": "Depth / length (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "backOffset": {
            "description": "Back curve offset (cm)",
            "type": "number",
            "minimum": 0,
            "maximum": 30
          },
          "thickness": {
            "description": "Shell wall thickness",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 5
          },
          "applyOrnaments": {
            "description": "Add decorative perforations to the surface",
            "type": "boolean"
          },
          "filletRadius": {
            "description": "Fillet radius on loft edges",
            "type": "number",
            "minimum": 0,
            "maximum": 15
          },
          "phoneHeight": {
            "description": "Phone mock-up height (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 35
          },
          "phoneWidth": {
            "description": "Phone mock-up width (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 35
          },
          "phoneThickness": {
            "description": "Phone mock-up thickness (cm)",
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 3
          },
          "precision": {
            "description": "Geometry precision (lower = finer)",
            "$ref": "#/components/schemas/MeshPrecision"
          },
          "rotation": {
            "description": "Final rotation angle (degrees)",
            "type": "number",
            "minimum": -360,
            "maximum": 360
          },
          "scale": {
            "description": "Uniform scale factor",
            "$ref": "#/components/schemas/PositiveScale"
          },
          "origin": {
            "description": "[x, y, z] placement origin",
            "$ref": "#/components/schemas/Point3"
          },
          "direction": {
            "description": "[x, y, z] up direction",
            "$ref": "#/components/schemas/Point3"
          }
        },
        "additionalProperties": false,
        "description": "Phone Nest model parameters — all optional, sane defaults apply"
      },
      "StepToGltfBody": {
        "type": "object",
        "properties": {
          "stepFileId": {
            "type": "string",
            "minLength": 1,
            "description": "ID of the previously uploaded STEP file (returned by the file upload endpoint)"
          },
          "meshPrecision": {
            "description": "Tessellation precision controlling mesh density. Lower values produce finer meshes with more triangles.",
            "$ref": "#/components/schemas/MeshPrecision"
          }
        },
        "required": [
          "stepFileId"
        ],
        "additionalProperties": false,
        "description": "Convert a STEP file to glTF format with default settings. Upload the STEP file first, then pass its ID here."
      },
      "StepToGltfAdvancedBody": {
        "type": "object",
        "properties": {
          "stepFileId": {
            "type": "string",
            "minLength": 1,
            "description": "ID of the previously uploaded STEP file (returned by the file upload endpoint)"
          },
          "options": {
            "description": "Advanced conversion settings. If omitted, sensible defaults are used.",
            "$ref": "#/components/schemas/ConvertAdvancedOptions"
          }
        },
        "required": [
          "stepFileId"
        ],
        "additionalProperties": false,
        "description": "Convert a STEP file to glTF with full control over tessellation, naming, coordinate systems, and output format."
      },
      "ConvertAdvancedOptions": {
        "type": "object",
        "properties": {
          "readColors": {
            "description": "Extract color attributes from the STEP file and apply to glTF materials",
            "type": "boolean"
          },
          "readNames": {
            "description": "Extract product/instance names from the STEP file and apply to glTF node names",
            "type": "boolean"
          },
          "readMaterials": {
            "description": "Extract material definitions from the STEP file",
            "type": "boolean"
          },
          "readLayers": {
            "description": "Extract layer/group structure from the STEP file",
            "type": "boolean"
          },
          "readProps": {
            "description": "Extract custom properties (e.g. part numbers, metadata) from the STEP file",
            "type": "boolean"
          },
          "meshDeflection": {
            "description": "Linear deflection for mesh tessellation — maximum allowed distance between the mesh and the true surface",
            "$ref": "#/components/schemas/MeshPrecision"
          },
          "meshAngle": {
            "description": "Angular deflection for mesh tessellation (radians) — controls curvature approximation",
            "$ref": "#/components/schemas/MeshAngle"
          },
          "meshParallel": {
            "description": "Enable parallel tessellation for faster processing",
            "type": "boolean"
          },
          "faceCountThreshold": {
            "description": "Maximum triangle count before LOD reduction kicks in. Set -1 to disable the limit entirely.",
            "type": "integer",
            "minimum": -1,
            "maximum": 500000
          },
          "mergeFaces": {
            "description": "Merge co-planar adjacent faces to reduce mesh complexity",
            "type": "boolean"
          },
          "splitIndices16": {
            "description": "Split meshes so each uses 16-bit index buffers (max 65535 vertices per mesh). Improves compatibility with some renderers.",
            "type": "boolean"
          },
          "parallelWrite": {
            "description": "Write glTF output in parallel for faster file generation",
            "type": "boolean"
          },
          "embedTextures": {
            "description": "Embed texture data directly in the .glb file instead of referencing external URIs",
            "type": "boolean"
          },
          "forceUVExport": {
            "description": "Generate UV coordinates even when no textures are present (useful for post-processing)",
            "type": "boolean"
          },
          "nodeNameFormat": {
            "description": "Strategy for naming glTF nodes from STEP product/instance labels",
            "$ref": "#/components/schemas/GltfNameFormat"
          },
          "meshNameFormat": {
            "description": "Strategy for naming glTF meshes from STEP product/instance labels",
            "$ref": "#/components/schemas/GltfNameFormat"
          },
          "transformFormat": {
            "description": "Transform representation in glTF: 'compact' (default), 'mat4' (4x4 matrix), or 'trs' (translation/rotation/scale)",
            "$ref": "#/components/schemas/GltfTransformFormat"
          },
          "adjustZtoY": {
            "description": "Convert from Z-up (CAD convention) to Y-up (glTF/WebGL convention) coordinate system",
            "type": "boolean"
          },
          "scale": {
            "description": "Uniform scale factor applied to the entire model (e.g. 0.001 to convert mm to meters)",
            "$ref": "#/components/schemas/PositiveScale"
          }
        },
        "additionalProperties": false,
        "description": "Fine-grained options controlling STEP → glTF conversion: tessellation quality, attribute extraction, coordinate systems, and output format."
      },
      "MeshAngle": {
        "type": "number",
        "minimum": 0.01,
        "maximum": 3.141592653589793,
        "description": "Mesh angular deflection in radians. Range: [0.01, π]"
      },
      "GltfNameFormat": {
        "type": "string",
        "enum": [
          "empty",
          "product",
          "instance",
          "instanceOrProduct",
          "productOrInstance",
          "productAndInstance",
          "productAndInstanceAndOcaf"
        ],
        "description": "How node/mesh names are derived from STEP product/instance labels"
      },
      "GltfTransformFormat": {
        "type": "string",
        "enum": [
          "compact",
          "mat4",
          "trs"
        ],
        "description": "Transform representation in glTF output"
      },
      "FileUploadBody": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Original filename including extension (e.g. 'part.step', 'model.obj'). Used for display and format detection."
          },
          "contentType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "MIME type of the file (e.g. 'application/step', 'model/gltf-binary'). Must match the actual file content."
          },
          "bytes": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 1073741824,
            "description": "Exact file size in bytes. Must match the Content-Length of the subsequent PUT to the upload URL. Maximum: 1 GB."
          },
          "sha256": {
            "description": "SHA-256 hex digest of the file content. When provided, enables server-side deduplication — if an identical file was previously uploaded under this API key, the existing file is reused and no upload is needed.",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "filename",
          "contentType",
          "bytes"
        ],
        "additionalProperties": false,
        "description": "Request a pre-signed upload URL. After receiving the URL, PUT the raw file bytes to it within the expiration window."
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/HealthStatus"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope for health check"
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ],
            "description": "Overall health status"
          },
          "timestamp": {
            "type": "string",
            "description": "ISO 8601 timestamp"
          }
        },
        "required": [
          "status",
          "timestamp"
        ],
        "additionalProperties": false,
        "description": "API health check result indicating overall system status"
      },
      "CadOperationResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/CadResultData"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope wrapping a Bitbybit CAD operation result"
      },
      "CadResultData": {
        "description": "Operation-specific result data. Shape varies by the CAD algorithm executed (OCCT, Manifold, JSCAD, or vector/math operations)."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "required": [
          "ok",
          "error"
        ],
        "additionalProperties": false,
        "description": "Standard error envelope"
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "description": "Optional structured error context"
          },
          "requestId": {
            "description": "Request ID for tracing",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "description": "Structured error information with machine-readable code and optional debugging context"
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/ModelList"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing the list of available models"
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available model slugs that can be used with the /models/{name} endpoints"
          }
        },
        "required": [
          "models"
        ],
        "additionalProperties": false,
        "description": "List of all available parametric models"
      },
      "ModelBatchDefinitionsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/ModelBatchDefinitions"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing multiple model definitions"
      },
      "ModelBatchDefinitions": {
        "type": "object",
        "properties": {
          "definitions": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/ModelDefinition"
            },
            "description": "Model definitions keyed by slug. Each contains parameter schemas and defaults."
          }
        },
        "required": [
          "definitions"
        ],
        "additionalProperties": false,
        "description": "Definitions for multiple models in a single response"
      },
      "ModelDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Model slug used in API paths (e.g. 'dragon-cup')"
          },
          "displayName": {
            "type": "string",
            "description": "Human-friendly model name for UI display"
          },
          "description": {
            "type": "string",
            "description": "What this model creates and its key characteristics"
          },
          "params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelParamDefinition"
            },
            "description": "All accepted parameters with types, descriptions, and defaults"
          },
          "defaults": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {},
            "description": "Complete default parameter values map"
          }
        },
        "required": [
          "name",
          "displayName",
          "description",
          "params",
          "defaults"
        ],
        "additionalProperties": false,
        "description": "Full definition of a parametric model including all parameters and their constraints"
      },
      "ModelParamDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Parameter name as used in the request body"
          },
          "type": {
            "description": "Expected data type for this parameter",
            "$ref": "#/components/schemas/ModelParamApiType"
          },
          "description": {
            "type": "string",
            "description": "Human-readable explanation of what this parameter controls"
          },
          "default": {
            "description": "Default value used when the parameter is omitted"
          },
          "items": {
            "description": "Element type descriptor (only present for array parameters)",
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "name",
          "type",
          "description",
          "default"
        ],
        "additionalProperties": false,
        "description": "Schema definition for a single model parameter"
      },
      "ModelParamApiType": {
        "type": "string",
        "enum": [
          "number",
          "integer",
          "boolean",
          "array"
        ],
        "description": "Data type of a model parameter: 'number' (float), 'integer' (whole number), 'boolean' (true/false), 'array' (list of values)"
      },
      "TaskAcceptedResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/TaskCreatedResult"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "HTTP 202 response when a task is accepted for async processing"
      },
      "TaskCreatedResult": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Unique task identifier — use this to poll for status and retrieve results",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "const": "queued",
            "description": "Initial task status (always 'queued' upon creation)"
          },
          "statusUrl": {
            "type": "string",
            "description": "Relative URL to poll for task status updates",
            "example": "/api/v1/tasks/{taskId}"
          }
        },
        "required": [
          "taskId",
          "status",
          "statusUrl"
        ],
        "additionalProperties": false,
        "description": "Returned when a CAD task is accepted. Poll the statusUrl to track progress."
      },
      "CompoundTaskAcceptedResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/CompoundTaskCreatedResult"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "HTTP 202 response when a compound (parallel) task is accepted"
      },
      "CompoundTaskCreatedResult": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Parent compound task ID for tracking overall progress"
          },
          "kind": {
            "type": "string",
            "const": "compound"
          },
          "subTaskCount": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Total number of sub-tasks created (one per item in the request)"
          },
          "statusUrl": {
            "type": "string",
            "description": "Relative URL to poll the parent task status",
            "example": "/api/v1/tasks/{taskId}"
          },
          "subTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubTaskSummary"
            }
          }
        },
        "required": [
          "taskId",
          "kind",
          "subTaskCount",
          "statusUrl",
          "subTasks"
        ],
        "additionalProperties": false,
        "description": "Returned when a compound (parallel) task is accepted. Contains initial status for all sub-tasks."
      },
      "SubTaskSummary": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Unique identifier for this sub-task (can be polled individually)"
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Zero-based position of this sub-task within the compound"
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus"
          },
          "progress": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Completion percentage (0–100) or null if not yet started"
          },
          "computeMs": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Actual compute time in milliseconds (null until completed)"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Error message if sub-task failed, null otherwise"
          },
          "downloadFormats": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available output format keys (e.g. ['glb', 'stpz']) for downloading results"
          }
        },
        "required": [
          "taskId",
          "index",
          "status",
          "progress",
          "computeMs",
          "error",
          "downloadFormats"
        ],
        "additionalProperties": false,
        "description": "Status summary for one sub-task within a compound (parallel) task"
      },
      "TaskStatus": {
        "type": "string",
        "enum": [
          "waiting",
          "queued",
          "processing",
          "completed",
          "failed",
          "cancelled",
          "expired"
        ],
        "description": "Task lifecycle state: waiting (pending dependencies), queued (in queue), processing (actively computing), completed (result available), failed (error occurred), cancelled (user-cancelled), expired (result TTL exceeded)"
      },
      "ModelDefinitionResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/ModelDefinition"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing a single model's definition"
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/UploadResult"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing the pre-signed upload URL and file metadata"
      },
      "UploadResult": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "Assigned file identifier — use this to reference the file in subsequent API calls",
            "format": "uuid"
          },
          "uploadUrl": {
            "type": "string",
            "description": "Pre-signed URL to PUT the raw file bytes to. Send the file content with Content-Type and Content-Length headers matching the request.",
            "format": "uri"
          },
          "expiresIn": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Seconds until the upload URL expires. You must complete the PUT within this window."
          },
          "maxBytes": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Maximum allowed file size in bytes for this upload. Determined by your plan tier."
          },
          "status": {
            "type": "string",
            "const": "pending"
          }
        },
        "required": [
          "fileId",
          "uploadUrl",
          "expiresIn",
          "maxBytes",
          "status"
        ],
        "additionalProperties": false,
        "description": "Response after requesting a file upload. Contains the pre-signed URL to PUT your file to."
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/FileList"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing a paginated file list"
      },
      "FileList": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileDetail"
            }
          },
          "page": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 1000
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "files",
          "page",
          "limit",
          "total"
        ],
        "additionalProperties": false,
        "description": "Paginated list of uploaded files with total count"
      },
      "FileDetail": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "Unique file identifier used to reference this file in CAD operations",
            "format": "uuid"
          },
          "filename": {
            "type": "string",
            "description": "Original filename as provided during upload request"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the file content"
          },
          "bytes": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ],
            "description": "File size in bytes. Null while status is 'pending' (not yet uploaded)."
          },
          "sha256": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "SHA-256 hex digest of the file content. Null if not provided during upload. Used for deduplication."
          },
          "status": {
            "$ref": "#/components/schemas/FileStatus"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the upload was initiated"
          },
          "confirmedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 timestamp when the upload was confirmed. Null if not yet confirmed."
          },
          "downloadUrl": {
            "description": "Pre-signed download URL. Only present for confirmed files. Expires after 1 hour.",
            "type": "string"
          }
        },
        "required": [
          "fileId",
          "filename",
          "contentType",
          "bytes",
          "sha256",
          "status",
          "createdAt",
          "confirmedAt"
        ],
        "additionalProperties": false,
        "description": "Full metadata for an uploaded file"
      },
      "FileStatus": {
        "type": "string",
        "enum": [
          "pending",
          "confirmed",
          "expired"
        ],
        "description": "File lifecycle state: 'pending' (upload URL issued, awaiting PUT), 'confirmed' (upload verified and file is usable), 'expired' (upload URL expired before completion)"
      },
      "FileDetailResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/FileDetail"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing a single file's metadata"
      },
      "DeleteFileResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/DeleteResult"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success response for file deletion"
      },
      "DeleteResult": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "description": "Confirmation that a resource was successfully deleted"
      },
      "ConfirmResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/ConfirmResult"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope confirming a file upload was verified"
      },
      "ConfirmResult": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "File identifier that was confirmed",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "const": "confirmed"
          },
          "bytes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Actual file size in bytes as stored on the server"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the confirmed file"
          }
        },
        "required": [
          "fileId",
          "status",
          "bytes",
          "contentType"
        ],
        "additionalProperties": false,
        "description": "Returned after a file upload is verified. The file is now ready to be used in CAD operations."
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/TaskList"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing a paginated task list"
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskDetail"
            }
          },
          "page": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 1000
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 50
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "tasks",
          "page",
          "limit",
          "total"
        ],
        "additionalProperties": false,
        "description": "Paginated list of tasks with total count"
      },
      "TaskDetail": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Unique task identifier for polling and result retrieval",
            "format": "uuid"
          },
          "kind": {
            "$ref": "#/components/schemas/TaskKind"
          },
          "label": {
            "type": "string",
            "description": "Human-readable task label",
            "example": "Model: dragon-cup"
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus"
          },
          "progress": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Completion percentage (0–100) or null if progress is not tracked for this task kind"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Error message when status is 'failed'. Null for all other statuses."
          },
          "resultParts": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/components/schemas/ResultPartMeta"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Available result files keyed by format (e.g. 'glb', 'step'). Null until task completes."
          },
          "metadata": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ],
            "description": "Additional task metadata (e.g. resolved parameters, model name). Shape varies by task kind."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the task was created"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 timestamp when processing began. Null if still queued."
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 timestamp when the task completed (success or failure). Null if still running."
          },
          "expiresAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when task results will be automatically deleted"
          }
        },
        "required": [
          "taskId",
          "kind",
          "label",
          "status",
          "progress",
          "error",
          "resultParts",
          "metadata",
          "createdAt",
          "startedAt",
          "finishedAt",
          "expiresAt"
        ],
        "additionalProperties": false,
        "description": "Complete task status including lifecycle timestamps, progress, and result metadata"
      },
      "TaskKind": {
        "type": "string",
        "enum": [
          "cad",
          "model",
          "convert-simple",
          "convert-advanced",
          "pipeline",
          "compound",
          "tenant"
        ],
        "description": "Type of work: 'cad' (single operation), 'model' (parametric model), 'convert-simple'/'convert-advanced' (file conversion), 'pipeline' (sequential chain), 'compound' (parallel batch), 'tenant' (tenant-scoped)"
      },
      "ResultPartMeta": {
        "type": "object",
        "properties": {
          "mime": {
            "type": "string",
            "description": "MIME type of the result file (e.g. 'model/gltf-binary', 'application/step')"
          },
          "bytes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Size of the result file in bytes"
          }
        },
        "required": [
          "mime",
          "bytes"
        ],
        "additionalProperties": false,
        "description": "Metadata about a single downloadable result part"
      },
      "TaskDetailResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/TaskDetail"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing a single task's full details"
      },
      "CancelTaskResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/CancelResult"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success response for task cancellation"
      },
      "CancelResult": {
        "type": "object",
        "properties": {
          "cancelled": {
            "type": "boolean",
            "const": true
          },
          "previousStatus": {
            "type": "string",
            "description": "Status before cancellation"
          }
        },
        "required": [
          "cancelled",
          "previousStatus"
        ],
        "additionalProperties": false,
        "description": "Confirmation that a task was successfully cancelled"
      },
      "TaskOrCompoundResultResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/TaskResultResponse"
          },
          {
            "$ref": "#/components/schemas/CompoundResultManifestResponse"
          }
        ],
        "description": "Result download link for standard tasks, or a compound manifest with per-sub-task download links"
      },
      "TaskResultResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/TaskResultDownload"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing a download link for a task result"
      },
      "TaskResultDownload": {
        "type": "object",
        "properties": {
          "downloadUrl": {
            "type": "string",
            "description": "Pre-signed URL to download the result file. Expires after 1 hour.",
            "format": "uri"
          },
          "filename": {
            "type": "string",
            "description": "Suggested filename for the download",
            "example": "result.glb"
          }
        },
        "required": [
          "downloadUrl",
          "filename"
        ],
        "additionalProperties": false,
        "description": "Download information for a completed task result"
      },
      "CompoundResultManifestResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/CompoundResultManifest"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing the compound task result manifest with per-sub-task download links"
      },
      "CompoundResultManifest": {
        "type": "object",
        "properties": {
          "manifest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompoundResultEntry"
            },
            "description": "Per-sub-task status and download links"
          }
        },
        "required": [
          "manifest"
        ],
        "additionalProperties": false,
        "description": "Result manifest for a completed compound task"
      },
      "CompoundResultEntry": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Sub-task ID"
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Position in the compound task"
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus"
          },
          "downloadUrls": {
            "description": "Download URLs keyed by format (only if completed)",
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "taskId",
          "index",
          "status"
        ],
        "additionalProperties": false,
        "description": "Status/result info for one sub-task in a compound manifest"
      },
      "TaskResultsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/TaskResultsDownload"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false,
        "description": "Success envelope containing download links for all result formats"
      },
      "TaskResultsDownload": {
        "type": "object",
        "properties": {
          "downloads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "format": {
                  "type": "string",
                  "description": "Result format key (e.g. 'glb', 'step', 'metadata')"
                },
                "downloadUrl": {
                  "type": "string",
                  "description": "Pre-signed URL to download the result file. Expires after 1 hour.",
                  "format": "uri"
                },
                "filename": {
                  "type": "string",
                  "description": "Suggested filename for the download",
                  "example": "result.glb"
                }
              },
              "required": [
                "format",
                "downloadUrl",
                "filename"
              ],
              "additionalProperties": false
            },
            "description": "Download links for all available result formats"
          }
        },
        "required": [
          "downloads"
        ],
        "additionalProperties": false,
        "description": "Download information for all available result formats of a completed task"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Scoped API key. Scopes: models, cad, convert, * (wildcard). A key without the required scope receives 403 INSUFFICIENT_SCOPE."
      }
    }
  }
}
