<h2>BitByBit Examples</h2>
<p>Provided examples give you a starting point to understanding the world of 3D algorithms.</p>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Newbie">
        <mat-card *ngFor="let example of basicExamples">
            <h3>{{example.title}}</h3>
            <a [routerLink]="['/']" [queryParams]="{examples: example.queryParam}" (click)="onClose()">
                <img [src]="example.image"/>
            </a>
        </mat-card>
    </mat-tab>
    <mat-tab label="Street Smart">
        <mat-card *ngFor="let example of mediumExamples">
            <h3>{{example.title}}</h3>
            <a [routerLink]="['/']" [queryParams]="{examples: example.queryParam}" (click)="onClose()">
                <img [src]="example.image"/>
            </a>
        </mat-card>
    </mat-tab>
    <mat-tab label="Ninja"> 
        <mat-card>
            <h3>
                Ninja examples will require some ninja time to prepare, please be patient...
            </h3>
        </mat-card>
    </mat-tab>
  </mat-tab-group>

<br>
<button mat-button mat-raised-button (click)="onClose()">Close</button>