<h2>{{resources.app_menu_more_sponsors}}</h2>
<p>
    {{resources.app_menu_more_sponsors_explanation}}
</p>
<a href="https://www.rhino3d.com/" target="_blank">
    <mat-card>
        <mat-card-content>
            <img width="100" src="assets/partners-sponsors/mcneellogo.png">
        </mat-card-content>
        Robert McNeel & Associates
    </mat-card>
</a>
<br>
<p>
    {{resources.app_menu_more_sponsors_email}}
</p>
<a href="mailto:info@bitbybit.dev">info@bitbybit.dev</a>
<br>
<br>
<button mat-button mat-raised-button (click)="onClose()">{{resources.app_button_close}}</button>