$font-size-small: 12px;
$font-weight: 400;
$background-colour: #1a1c1f;
$mid-bacgkround-colour: #24272c;
$light-background-colour: #2e3136;
$error-color: red;
$input-colour: white;

 a.logo{
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}
a.logo img {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.5));
    max-width: 44px;
    max-height: 44px;
}

::ng-deep button {
    outline: none !important;
}

::ng-deep .panel {
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
}


::ng-deep .mat-form-field-label {
    color: $input-colour;
}
::ng-deep .ng-invalid.ng-touched .mat-form-field-label{
    color: $error-color;
}
::ng-deep .mat-select-arrow {
    color: $input-colour;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label.mat-accent{
    color: $input-colour;
}

::ng-deep .mat-focused .mat-form-field-required-marker{
    color: $input-colour;
}

::ng-deep .ng-invalid.ng-touched .mat-form-field.mat-focused .mat-form-field-label.mat-accent{
    color: $error-color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $input-colour;
}

::ng-deep .mat-form-field-ripple {
    color: $input-colour;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: $input-colour;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before:hover {
    background-color: $input-colour;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple.mat-accent{
    background-color: $input-colour;
}

::ng-deep .ng-invalid.ng-touched .mat-form-field.mat-focused .mat-form-field-ripple.mat-accent{
    background-color: $error-color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $input-colour;
}
::ng-deep .mat-form-field-ripple:hover {
    background-color: $input-colour;
}

::ng-deep .mat-form-field-ripple {
    background-color: $input-colour;
}

::ng-deep .mat-form-field.mat-accent .mat-input-element {
    color: $input-colour;
}

::ng-deep .mat-input-element {
    caret-color: $input-colour;
}
::ng-deep .mat-form-field.mat-accent .mat-input-element {
    caret-color: $input-colour;
}

::ng-deep .mat-select-value {
    color: $input-colour;
}

::ng-deep mat-form-field {
    width: 100%;
}
::ng-deep button.form-submit {
    margin-top: 10px;
    background-color: $background-colour;
}

::ng-deep form {
    padding: 20px;
    background-color: $light-background-colour;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0,0,0,0);
}
