<ng-container *ngIf="project">
    <h2>Add Asset to Project To "{{project.title}}"</h2>
    <form *ngIf="form" [formGroup]="form" (submit)="submit()">
        <div>
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Title</mat-label>
                <input required matInput formControlName="title">
                <mat-error *ngIf="form.controls['title'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <label class="file-label">
                <div>File</div>
                <input id="assetFileUpload" type="file" multiple accept=".txt, .csv, .step, .stp, .iges, .igs">
                <mat-error *ngIf="!fileExtensionsConsistent">All files have to have the same extension</mat-error>
                <mat-error *ngIf="formSubmitted && currentAssetFiles.length === 0">There are no files selected
                </mat-error>
            </label>
        </div>
        <button class="form-submit" mat-button mat-primary-button>Submit</button>
    </form>
</ng-container>