<div class="landing-page">
    <div class="landing-body">
        <nav>
            <picture>
                <source srcset="
                /assets/logo-gold-small.webp 1x" type="image/webp">
                <source srcset="
                /assets/logo-gold-small.png 1x" type="image/png">
                <img class="fill-width-or-more logo" matTooltip="Bit by bit developers"
                    src="assets/logo-gold-small.webp" alt="Logo of bit by bit developers company" />
            </picture>
            <div class="fill-width-or-more head-title">
                <div class="title">
                    <div>Bit by bit</div>
                </div>
                <div class="sub-title">
                    <div>developers</div>
                </div>
            </div>
            <div class="fill-width-or-more menu-zone">
                <div class="menu">
                    <div class="menu-item d-none d-sm-flex">
                        <a routerLink="../app">{{texts.menu.app}}</a>
                    </div>
                    <div class="menu-item d-none  d-sm-flex">
                        <a href="" (click)="scroll('about', $event)">{{texts.menu.about}}</a>
                    </div>
                    <div class="menu-item d-none  d-sm-flex">
                        <a href="" (click)="scroll('contact', $event)">{{texts.menu.contact}}</a>
                    </div>
                    <button (click)="toggleMenu()" mat-icon-button class="menu-item d-sm-none">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="menu-hamburger d-flex" *ngIf="menuOpen">
            <div class="menu-item">
                <a routerLink="../app">{{texts.menu.app}}</a>
            </div>
            <div class="menu-item">
                <a href="" (click)="scroll('about', $event)">{{texts.menu.about}}</a>
            </div>
            <div class="menu-item">
                <a href="" (click)="scroll('contact', $event)">{{texts.menu.contact}}</a>
            </div>
        </nav>
        <div class="header-content d-none d-sm-none d-md-none d-lg-flex">
            <div class="header-text">
                <div class="align-center">
                    <div class="main-title">
                        <h1>
                            {{texts.head.title}}
                        </h1>
                    </div>
                    <div class="main-text">
                        <ul>
                            <li *ngFor="let element of texts.head.listElements">{{element}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-image">
                <picture>
                    <source srcset="
                    /assets/landing-page/mac-iphone-landing.webp 1x" type="image/webp">
                    <source srcset="
                    /assets/landing-page/mac-iphone-landing.png 1x" type="image/png">
                    <img class="mac-landing" src="assets/landing-page/mac-iphone-landing.webp"
                        alt="Picture of the macbook pro and an iphone containing software screenshots with visual programming environment for geometry." />
                </picture>
            </div>
        </div>
        <div class="header-content d-block d-sm-block d-md-block d-lg-none">
            <div class="header-image">
                <picture>
                    <source srcset="
                    /assets/landing-page/mac-iphone-landing.webp 1x" type="image/webp">
                    <source srcset="
                    /assets/landing-page/mac-iphone-landing.png 1x" type="image/png">
                    <img class="mac-landing" src="assets/landing-page/mac-iphone-landing.webp"
                        alt="Picture of the macbook pro and an iphone containing software screenshots with visual programming environment for geometry." />
                </picture>
            </div>
            <div class="header-text">
                <div class="align-center">
                    <div class="main-title">
                        <h1>
                            {{texts.head.title}}
                        </h1>
                    </div>
                    <div class="main-text">
                        <ul>
                            <li *ngFor="let element of texts.head.listElements">{{element}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tools">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
                {{texts.definition}}
            </div>
            <div class="col"></div>
        </div>
        <div class="row get-started">

            <div class="col text-align-center">
                <a routerLink="../app">
                    <picture>
                        <source srcset="
                        /assets/button.webp 1x" type="image/webp">
                        <source srcset="
                        /assets/button.png 1x" type="image/png">
                        <img alt="Play button picture to start the application for visual programming of geometry"
                            class="start-button" matTooltip="Start App" src="assets/button.webp" />
                    </picture>
                    <div class="start-button-text">{{texts.startTheAppButton}}</div>
                </a>
            </div>
        </div>
        <div class="row get-started-text">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
                {{texts.startTheAppExplanation}}
            </div>
            <div class="col"></div>
        </div>
        <div class="social-media d-none d-sm-flex">
            <a class="social" mat-menu-item href="https://www.patreon.com/bitbybitdev" title="Patreon" target="_blank">
                <img alt="Patreon social network" matTooltip="Patreon social network" class="mat-icon"
                    src="../assets/social/logo-patreon.svg">
            </a>
            <a class="social" mat-menu-item href="https://discord.gg/GSe3VMe" title="Discord" target="_blank">
                <img alt="Discord social network" matTooltip="Discord channel" class="mat-icon"
                    src="../assets/social/logo-discord.svg">
            </a>
            <a class="social" mat-menu-item href="https://www.youtube.com/channel/UCWM0VODRsLYOjB2IAaFHBSQ"
                title="Youtube" target="_blank">
                <img alt="YouTube social network" matTooltip="YouTube channel" class="mat-icon"
                    src="../assets/social/logo-youtube.svg" />
            </a>
            <a class="social" mat-menu-item href="https://medium.com/@bitbybit" title="Medium" target="_blank">
                <img alt="Medium blog" matTooltip="Medium blog" class="mat-icon"
                    src="../assets/social/logo-medium.svg" />
            </a>
            <a class="social" mat-menu-item href="https://www.instagram.com/bitbybit.dev/" title="Instagram"
                target="_blank">
                <img alt="Instagram social network" matTooltip="Instagram social network" class="mat-icon"
                    src="../assets/social/logo-instagram.svg">
            </a>
            <a class="social" mat-menu-item href="https://www.linkedin.com/company/bitbybit-dev" title="LinkedIn"
                target="_blank">
                <img alt="LinkedIn social network" matTooltip="LinkedIn social network" class="mat-icon"
                    src="../assets/social/logo-linkedin.svg">
            </a>
            <a class="social" mat-menu-item href="https://fb.me/bitbybitdev" title="Facebook" target="_blank">
                <img alt="Facebook social network" matTooltip="Facebook social network" class="mat-icon"
                    src="../assets/social/logo-facebook.svg" />
            </a>
            <a class="social" mat-menu-item href="https://twitter.com/bitbybit_dev" title="Twitter" target="_blank">
                <img alt="Twitter social network" matTooltip="Twitter social network" class="mat-icon"
                    src="../assets/social/logo-twitter.svg" />
            </a>
            <a class="social" mat-menu-item href="https://github.com/bitbybit-dev/bitbybit" title="Github"
                target="_blank">
                <img alt="Github social network" matTooltip="Github codebase" class="mat-icon"
                    src="../assets/social/logo-github.svg" />
            </a>
        </div>
        <div class="social-media d-flex d-sm-none">
            <a class="social" mat-menu-item href="https://www.patreon.com/bitbybitdev" title="Patreon" target="_blank">
                <img alt="Patreon social network" matTooltip="Patreon social network" class="mat-icon"
                    src="../assets/social/logo-patreon.svg">
            </a>
            <a class="social" mat-menu-item href="https://discord.gg/GSe3VMe" title="Discord" target="_blank">
                <img alt="Discord social network" matTooltip="Discord channel" class="mat-icon"
                    src="../assets/social/logo-discord.svg">
            </a>
            <a class="social" mat-menu-item href="https://www.youtube.com/channel/UCWM0VODRsLYOjB2IAaFHBSQ"
                title="Youtube" target="_blank">
                <img alt="YouTube social network" matTooltip="YouTube channel" class="mat-icon"
                    src="../assets/social/logo-youtube.svg" />
            </a>
            <a class="social" mat-menu-item href="https://medium.com/@bitbybit" title="Medium" target="_blank">
                <img alt="Medium blog" matTooltip="Medium blog" class="mat-icon"
                    src="../assets/social/logo-medium.svg" />
            </a>
            <a class="social" mat-menu-item href="https://www.instagram.com/bitbybit.dev/" title="Instagram"
                target="_blank">
                <img alt="Instagram social network" matTooltip="Instagram social network" class="mat-icon"
                    src="../assets/social/logo-instagram.svg">
            </a>
        </div>
        <div class="social-media-second d-flex d-sm-none">
            <a class="social" mat-menu-item href="https://www.linkedin.com/company/bitbybit-dev" title="LinkedIn"
                target="_blank">
                <img alt="LinkedIn social network" matTooltip="LinkedIn social network" class="mat-icon"
                    src="../assets/social/logo-linkedin.svg">
            </a>
            <a class="social" mat-menu-item href="https://fb.me/bitbybitdev" title="Facebook" target="_blank">
                <img alt="Facebook social network" matTooltip="Facebook social network" class="mat-icon"
                    src="../assets/social/logo-facebook.svg" />
            </a>
            <a class="social" mat-menu-item href="https://twitter.com/bitbybit_dev" title="Twitter" target="_blank">
                <img alt="Twitter social network" matTooltip="Twitter social network" class="mat-icon"
                    src="../assets/social/logo-twitter.svg" />
            </a>
            <a class="social" mat-menu-item href="https://github.com/bitbybit-dev/bitbybit" title="Github"
                target="_blank">
                <img alt="Github social network" matTooltip="Github codebase" class="mat-icon"
                    src="../assets/social/logo-github.svg" />
            </a>
        </div>
        <div id="about">
            <div class="separator-margin header-content d-none d-sm-none d-md-none d-lg-flex">
                <div class="header-image ipad">
                    <picture>
                        <source srcset="
                        /assets/landing-page/ipad-spiral.webp 1x" type="image/webp">
                        <source srcset="
                        /assets/landing-page/ipad-spiral.png 1x" type="image/png">
                        <img class="ipad-landing" src="assets/landing-page/ipad-spiral.webp"
                        alt="iPad picture showing visual programming application that produced spiral geometry."
                        loading="lazy" />
                    </picture>
                </div>
                <div class="header-text">
                    <div class="align-center">
                        <div class="main-title">
                            <h2>
                                {{texts.about.title}}
                            </h2>
                        </div>
                        <div class="main-text">
                            <p *ngFor="let paragraph of texts.about.paragraphs">
                                {{paragraph}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-content d-block d-sm-block d-md-block d-lg-none">
                <div class="header-text">
                    <div class="align-center">
                        <div class="main-title">
                            <h2>
                                {{texts.about.title}}
                            </h2>
                        </div>
                        <div class="main-text">
                            <p *ngFor="let paragraph of texts.about.paragraphs">
                                {{paragraph}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="header-image ipad">
                    <picture>
                        <source srcset="
                        /assets/landing-page/ipad-spiral.webp 1x" type="image/webp">
                        <source srcset="
                        /assets/landing-page/ipad-spiral.png 1x" type="image/png">
                        <img class="ipad-landing" src="assets/landing-page/ipad-spiral.webp"
                        alt="iPad picture showing visual programming application that produced spiral geometry."
                        loading="lazy" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="row separator-margin" id="contact">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 align-center">
                <div class="main-title">
                    <h2>
                        {{texts.contact.title}}
                    </h2>
                </div>
                <div class="main-text">
                    {{texts.contact.explanation}}
                    <br>
                    <br>
                    <dl>
                        <ng-container *ngFor="let element of texts.contact.dl">
                            <dt>
                                {{element.dt}}
                            </dt>
                            <dd>
                                {{element.dd}}
                            </dd>
                        </ng-container>
                    </dl>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <form *ngIf="!sentMail" [formGroup]="contactForm" (ngSubmit)="submit(contactForm.value)"
                    ngNativeValidate>

                    <label for="name">Name</label>
                    <input required id="name" placeholder="Your Name" formControlName="name">
                    <label for="surname">Surname</label>
                    <input required id="surname" placeholder="Your Surname" formControlName="surname">
                    <label for="message">Message</label>
                    <textarea required id="message" maxlength="500" placeholder="Max 500 characters"
                        formControlName="message"></textarea>
                    <div class="contact-explanation">
                        {{texts.contact.formExplanation}} <a href="mailto:info@bitbybit.dev">info@bitbybit.dev</a>.
                    </div>
                    <button mat-button type="submit">Send</button>
                </form>
                <div *ngIf="sentMail" class="form-success">
                    <div>Thank you for contacting us!</div>
                    <button (click)="resetContactForm()" mat-button type="button">Reset form</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="separator-bottom"></div>
<footer>
    <div class="footer">
        <div class="row">
            <div class="col">
                <h3>
                    Company
                </h3>
                <dl class="company-info">
                    <dt>
                        Name
                    </dt>
                    <dd>
                        MB "Bit by bit developers"
                    </dd>
                    <dt>
                        Code
                    </dt>
                    <dd>
                        305648819
                    </dd>
                    <dt>
                        Bank
                    </dt>
                    <dd>
                        UAB "Paysera LT"
                    </dd>
                    <dt>
                        Bank Code
                    </dt>
                    <dd>
                        35000
                    </dd>
                    <dt>
                        IBAN
                    </dt>
                    <dd>
                        LT913500010010247027
                    </dd>
                    <dt>
                        SWIFT/BIC
                    </dt>
                    <dd>
                        EVIULT2VXXX
                    </dd>
                </dl>
            </div>
            <div class="col d-none d-sm-none d-md-none d-lg-inline text-align-center">
                <picture>
                    <source srcset="
                    /assets/logo-gold-small.webp 1x" type="image/webp">
                    <source srcset="
                    /assets/logo-gold-small.png 1x" type="image/png">
                    <img class="logo" matTooltip="Bit by bit developers" src="assets/logo-gold-small.webp"
                    alt="Logo of bit by bit developers company" />
                </picture>
                
                <div class="company-info">
                    LET'S INVEST IN OUR FUTURE TOGETHER
                </div>
            </div>
            <div class="col d-none d-sm-inline text-align-right">
                <h3>
                    Contact
                </h3>
                <dl class="company-info">
                    <dt>
                        Email <mat-icon class="footer-icons">email</mat-icon>
                    </dt>
                    <dd>
                        <a href="mailto:info@bitbybit.dev">info@bitbybit.dev</a>
                    </dd>
                    <dt>
                        Phone <mat-icon class="footer-icons">phone</mat-icon>
                    </dt>
                    <dd>
                        <a href="tel:+37062496704">+370 624 96 704</a>
                    </dd>
                    <dt>
                        Address <mat-icon class="footer-icons">location_on</mat-icon>
                    </dt>
                    <dd>
                        Valonų g. 32A, LT-11330 Vilnius, Lithuania
                    </dd>
                </dl>
            </div>
            <div class="col-12 d-inline d-sm-none contact-xs">
                <h3>
                    Contact
                </h3>
                <dl class="company-info">
                    <dt>
                        Email <mat-icon class="footer-icons">email</mat-icon>
                    </dt>
                    <dd>
                        <a href="mailto:info@bitbybit.dev">info@bitbybit.dev</a>
                    </dd>
                    <dt>
                        Phone <mat-icon class="footer-icons">phone</mat-icon>
                    </dt>
                    <dd>
                        <a href="tel:+37062496704">+370 624 96 704</a>
                    </dd>
                    <dt>
                        Address <mat-icon class="footer-icons">location_on</mat-icon>
                    </dt>
                    <dd>
                        Valonų g. 32A, LT-11330 Vilnius, Lithuania
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="separator-bottom"></div>
    <div class="copyright">© 2020 "Bit by bit developers" MB. All Rights Reserved.</div>
</footer>