<div class="landing-page">
    <div class="landing-body">
        <nav>
            <img class="fill-width-or-more logo" matTooltip="Bit by bit developers" src="assets/logo-gold-small.png" />
            <div class="fill-width-or-more head-title">
                <div class="title">
                    <div>Bit by bit</div>
                </div>
                <div class="sub-title">
                    <div>developers</div>
                </div>
            </div>
            <div class="fill-width-or-more menu-zone">
                <div class="menu">
                    <div class="menu-item">
                        <a routerLink="../app">App</a>
                    </div>
                    <div class="menu-item">
                        About
                    </div>
                    <div class="menu-item">
                        Contact
                    </div>
                </div>
            </div>
        </nav>
        <div class="header-content">
            <div class="header-text">
                <div class="align-center">
                    <div class="main-title">
                        <div>
                            Value Education
                        </div>
                    </div>
                    <div class="main-text">
                        <ul>
                            <li>
                                To our community we provide the most valuable asset class in the world - knowledge.
                            </li>
                            <li>
                                We give our users powerful design & coding tools that empower to learn & teach others by making
                                things.
                            </li>
                            <li>
                                We combine Science, Technology, Engineering, the Arts and Mathematics (STEAM) in
                                our tools & our
                                teaching methodology.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-image">
                <img class="mac-landing" src="assets/landing-page/mac-iphone-landing.png" loading="lazy" />
            </div>
        </div>
        <div class="row tools">
            <div class="col"></div>
            <div class="col-6">
                The <strong>"Bit by bit developers"</strong> company build tools that are free, open-source & available for the individuals, schools, coding bootcamps
                & government institutions responsible for education. Our frictionless products can be adapted in many STEAM based programs. Get in
                touch if you would like to learn more, integrate our applciation in your curriculum or get personalised training.
            </div>
            <div class="col"></div>
        </div>
        <div class="row get-started">
            <div class="col text-align-center">
                <a routerLink="../app">
                    <img class="start-button" matTooltip="Start App" src="assets/button.png" />
                    <div class="start-button-text">Start the Application!</div>
                </a>
            </div>
        </div>
        <div class="row get-started-text">
            <div class="col"></div>
            <div class="col-6">
                Start your journey by launching our web application for visual programming of geometry. It is completely
                FREE and you can always use it for your own purposes.
            </div>
            <div class="col"></div>
        </div>
        <div class="social-media">
            <a class="social" mat-menu-item href="https://www.patreon.com/bitbybitdev" title="Patreon" target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-patreon.svg">
            </a>
            <a class="social" mat-menu-item href="https://discord.gg/GSe3VMe" title="Discord" target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-discord.svg">
            </a>
            <a class="social" mat-menu-item href="https://www.youtube.com/channel/UCWM0VODRsLYOjB2IAaFHBSQ"
                title="Youtube" target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-youtube.svg" />
            </a>
            <a class="social" mat-menu-item href="https://medium.com/@bitbybit" title="Medium" target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-medium.svg" />
            </a>
            <a class="social" mat-menu-item href="https://www.instagram.com/bitbybit.dev/" title="Instagram"
                target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-instagram.svg">
            </a>
            <a class="social" mat-menu-item href="https://www.linkedin.com/company/bitbybit-dev" title="LinkedIn"
                target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-linkedin.svg">
            </a>
            <a class="social" mat-menu-item href="https://fb.me/bitbybitdev" title="Facebook" target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-facebook.svg" />
            </a>
            <a class="social" mat-menu-item href="https://twitter.com/bitbybit_dev" title="Twitter" target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-twitter.svg" />
            </a>
            <a class="social" mat-menu-item href="https://github.com/bitbybit-dev/bitbybit" title="Github"
                target="_blank">
                <img class="mat-icon" width="40px" src="../assets/social/logo-github.svg" />
            </a>
        </div>
        <div class="separator-margin header-content">
            <div class="header-image ipad">
                <img class="ipad-landing" src="assets/landing-page/ipad-spiral.png" loading="lazy" />
            </div>
            <div class="header-text">
                <div class="align-center">
                    <div class="main-title">
                        <div>
                            About
                        </div>
                    </div>
                    <div class="main-text">
                        <p>
                            "Bit by bit developers" is a company, which provides the platform, tools & educational STEAM
                            based material for e-learning.
                        </p>
                        <p>
                            By providing practical 3D tools and code-first approach to design we free
                        </p>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-margin header-content">
            <div class="header-text">
                <div class="align-center">
                    <div class="main-title">
                        <div>
                            Contact
                        </div>
                    </div>
                    <div class="main-text">
                        Fill in the contact form to get a quote if you are
                        <br>
                        <br>
                        <dl>
                            <dt>
                                Individual
                            </dt>
                            <dd>
                                Wanting to buy our online courses or order private online lessons with our teachers.
                            </dd>
                            <dt>
                                School Representative
                            </dt>
                            <dd>
                                That needs support when integrating our tools in their educational institutions and
                                preparing
                                the staff.
                            </dd>
                            <dt>
                                Government Institution
                            </dt>
                            <dd>
                                Willing to integrate new digital tools in education and enrich existing curriculum used in public schools.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="header-image">
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="separator-bottom"></div>
<footer>

</footer>
<!-- <div>
    <nav aria-label="Top Toolbar">
        <img class="logo" src="assets/logo-small.png">
        <a routerLink="/">
            BitByBit Home
        </a>
        <div class="secondary-large-menu d-md-inline-block d-none">
            <button mat-button color="primary" (click)="tutorials()">Tutorials</button>
        </div>
    </nav>
    <div class="d-md-none secondary-menu">
        <button mat-button color="primary" (click)="tutorials()">Tutorials</button>
    </div>
    <router-outlet></router-outlet>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col"> <img class="logo" src="assets/logo-small.png">BitByBit v0.2.3 © 2020</div>
                <div class="col"></div>
                <div class="col">
                    <a href="mailto:info@bitbybit.dev">Email: info@bitbybit.dev</a>
                    <div class="social-container">
                        <div>
                            <a class="social" mat-menu-item href="https://www.patreon.com/bitbybitdev" title="Patreon"
                                target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-patreon.svg">
                            </a>
                            <a class="social" mat-menu-item href="https://discord.gg/GSe3VMe" title="Discord"
                                target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-discord.svg">
                            </a>
                            <a class="social" mat-menu-item
                                href="https://www.youtube.com/channel/UCWM0VODRsLYOjB2IAaFHBSQ" title="Youtube"
                                target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-youtube.svg" />
                            </a>
                            <a class="social" mat-menu-item href="https://medium.com/@bitbybit" title="Medium"
                                target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-medium.svg" />
                            </a>
                            <a class="social" mat-menu-item href="https://www.instagram.com/bitbybit.dev/"
                                title="Instagram" target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-instagram.svg">
                            </a>
                            <a class="social" mat-menu-item href="https://www.linkedin.com/company/bitbybit-dev"
                                title="LinkedIn" target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-linkedin.svg">
                            </a>
                            <a class="social" mat-menu-item href="https://fb.me/bitbybitdev" title="Facebook"
                                target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-facebook.svg" />
                            </a>
                            <a class="social" mat-menu-item href="https://twitter.com/bitbybit_dev" title="Twitter"
                                target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-twitter.svg" />
                            </a>
                            <a class="social" mat-menu-item href="https://github.com/bitbybit-dev/bitbybit"
                                title="Github" target="_blank">
                                <img class="mat-icon" width="20px" src="../assets/logo-github.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->