
.landing-page {
    min-height: 100vh;
}

.landing-body {
    color: white;
}

@media(max-width:769px){
    .landing-body {
        margin: 20px 20px 20px 20px;
    }
}

@media(min-width:769px){
    .landing-body {
        margin: 100px 100px 100px 100px;
    }
}

@media(max-width:993px){
    .logo {
        width: 60px;
    }
    nav {
        height: 60px;
    }
    .head-title {
        margin-left: 20px;
    }
    .title {
        font-size: 30px;
    }
    .sub-title {
        font-size: 15px;
    }
    .menu-item {
        margin-left: 20px;
        font-size: 20px;
    }
}

@media(min-width:993px){
    .logo {
        width: 90px;
    }
    nav {
        height: 90px;
    }
    .head-title {
        margin-left: 40px;
    }
    .title {
        font-size: 72px;
    }
    .sub-title {
        font-size: 25px;
    }
    .menu-item {
        margin-left: 30px;
        font-size: 30px;
    }
}
.logo {
    display: inline-block;
    object-fit: contain;
}

.menu-hamburger {
    margin-top: 30px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.fill-width-or-more {
    flex-direction: column;
    height: 100%;
}


.title {
    height: 60%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-title {
    height: 40%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-zone {
    flex: 1;
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.menu-item {
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.header-content {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex: 1;
}


@media(max-width:993px){
    .separator-margin {
        margin-top: 100px;
    }
}

@media(min-width:993px){
    .separator-margin {
        margin-top: 170px;
    }
}


.header-text {
    flex: 0.4;
    display: flex;
}

.align-center {
    margin-top: auto;
    margin-bottom: auto;
}

.header-image {
    flex: 0.6;
}

.mac-landing {
    width: 100%;
}

.ipad {
    text-align: center;
}

.ipad-landing {
    width: 50%;
    filter: drop-shadow(0 4mm 4mm rgba(0, 0, 0, 0.5));
}

@media(max-width:993px){
    .ipad {
        margin-top: 100px;
    }
    .ipad-landing {
        width: 60%;
    }    
}

@media(min-width:993px){
    .ipad-landing {
        width: 50%;
    }
}

@media(max-width:769px){
    .ipad-landing {
        width: 80%;
    }
}


dt {
    margin-bottom: 10px;
}

dd {
    margin-bottom: 20px
}


@media(max-width:1400px){

    .main-title h1, h2 {
        font-size: 40px;
        font-weight: 400;
    }
    
    .main-text {
        margin-top: 50px;
        font-size: 15px;
        line-height: 25px;
        font-weight: 300;
    }
}

@media(min-width:1400px){
    .main-title h1, h2 {
        font-size: 60px;
        font-weight: 400;
    }
    
    .main-text {
        margin-top: 50px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
    }
}

@media(max-width:993px){
    .main-title h1, h2 {
        margin-top: 20px;
        font-size: 30px;
    }

    .main-text {
        margin-top: 30px;
    }
}


a {
    color: white;
}

ul {
    // list-style-type: none;
    padding-inline-start: 20px;
}

li {
    margin-bottom: 10px;
}

.get-started a:hover {
    text-decoration: none;
}

.get-started a:hover .start-button-text {
    background: linear-gradient(to right, rgb(196, 139, 115), #ac6c4c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}


.start-button{
    margin-left:auto;
    margin-right: auto;
}

.start-button-text {
    color: #fff;
    background: linear-gradient(to right, #8b614e, #c07e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 4mm 4mm rgba(0, 0, 0, 0.5));
}

@media(min-width:993px){

    .get-started {
        margin-top: 170px;    
    }    

    .start-button{
        height: 80px;
    }

    .start-button-text {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: -80px;
        font-size: 37px;
        font-weight: 900;
    }

    .get-started-text {
        margin-top: 50px;
        font-size: 20px;
    }
}

@media(max-width:993px){

    .get-started {
        margin-top: 120px;    
    }    

    .start-button{
        height: 60px;
    }

    .start-button-text {
        padding-top: 17px;
        padding-bottom: 15px;
        margin-top: -60px;
        font-size: 24px;
        font-weight: 900;
    }
    .get-started-text {
        margin-top: 30px;
        font-size: 15px;
    }
}


@media(max-width:769px){

    .get-started {
        margin-top: 90px;    
    }

    .start-button{
        height: 45px;
    }

    .start-button-text {
        padding-top: 17px;
        padding-bottom: 15px;
        margin-top: -51px;
        font-size: 18px;
        font-weight: 900;
    }

    .get-started-text {
        margin-top: 18px;
        font-size: 15px;
    }
}

.get-started-text {
    font-weight: 300;
    line-height: 25px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-media-second {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.social {
    filter: drop-shadow(0 4mm 4mm rgba(0, 0, 0, 0.5));
}

@media(min-width:769px){

    .social-media {
        margin-top: 170px;
    }
}


@media(max-width:1400px){
    .social img {
        width: 30px;
        height: 30px;
    }

    .tools {
        font-size: 25px;
        margin-top: 80px;
    }
}

@media(min-width:1400px){
    .social img {
        width: 40px;
        height: 40px;
    }

    .tools {
        font-size: 30px;
        margin-top: 110px;
    }
}

@media(max-width:769px){

    .social-media {
        margin-top: 90px;
    }

    .social img {
        width: 25px;
        height: 25px;
    }

    .tools {
        font-size: 20px;
        margin-top: 60px;
    }
}

.tools {
    font-weight: 300;
    line-height: 40px;
}

input, textarea {
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 20px;
}

textarea{ 
    height: 200px;
}

.form-success {
    font-size: 25px;
    font-weight: 400;
}

.contact-explanation {
    margin-bottom: 20px;
}

@media(max-width:993px){
    .form-success {
        margin-top: 40px;
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }
}

@media(min-width:993px){
    .form-success {
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
    }
}

.form-success div {
    margin-bottom: 50px;
}

form {
    float: right;
    font-weight: 400;
    font-size: 15px;
}

@media(max-width:993px){
    form {
        width: 100%;
        margin-top: 50px;
    } 
}

@media(min-width:993px){
    form {
        width: 70%;
    }
}

input:focus, textarea:focus, a:focus, button:focus {
    outline: 5px solid #505a69;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

form button, .form-success button {
    font-size: 15px;
    font-weight: 900;
    background-color: #F0CEBB;
    color: #1a1c1f;
}

@media(max-width:993px){
    .separator {
        margin-top: 100px;
    }
}

@media(min-width:993px){
    .separator {
        margin-top: 170px;
    }
}

.separator {
    margin-left: 100px;
    margin-right: 100px;
    height: 2px;
    background: linear-gradient(to right, #d6b39f, #fff6f3);
}
.separator-bottom {
    margin-left: 100px;
    margin-right: 100px;
    height: 4px;
    background: linear-gradient(to right, #9b7b68, #b97e6a );
}

h3 {
    font-size: 30px;
}

.company-info {
    margin-top: 50px;
}


.footer {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 400;
    color: white;
}

@media(max-width:769px){
    .separator {
        margin-left: 20px;
        margin-right: 20px;
    }
    .separator-bottom {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.copyright {
    color: #F0CEBB;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

@media(max-width:1400px){
    footer {
        font-size: 15px;
        margin-bottom: 100px;
    }

    .copyright {
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(min-width:1400px){
    footer {
        font-size: 20px;
        margin-bottom: 150px;
    }
}

.footer-icons {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 20px;
    color: #F0CEBB;
}

.contact-xs {
    margin-top: 50px;
}