@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300&display=swap');

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrolling::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 4px;
    pointer-events: all;
}

/* background of the scrollbar except button or resizer */
.scrolling::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.scrolling::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* scrollbar itself */
.scrolling::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    border: 1px solid #000;
}

.scrolling::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* set button(top and bottom of the scrollbar) */
.scrolling::-webkit-scrollbar-button {
    display: none
}

.main {
    width: 100%;
    height: 100%;
}

.content {
    font-family: Roboto, Helvetica, Sans-Serif;
    font-weight: 300;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

h1 {
    background: -webkit-linear-gradient(45deg, #3f51b5, #9fadff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    font-weight: 200;
    font-size: 40px
}

h2 {
    font-weight: 300;
    color: white;
}

.space {
    flex: 0.5;
    pointer-events: none;
}

canvas {
    position: absolute;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

canvas :focus {
    outline: none;
}



.explanation {
    flex: 0.2;
    margin: 40px;
    pointer-events: all;
}

.explanation .scrolling {
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.explanation p {
    padding-right: 20px;
    padding-left: 20px;
}

.interaction {
    flex: 0.3;
    margin: 40px;
    margin-bottom: 120px;
}

.interaction-content {
    pointer-events: all;
    max-height: 100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 5px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.input {
    width: 32%;
    display: inline-block;
    margin: 1px;
    pointer-events: all;
}

.delete {
    display: inline-block;
    margin: 20px;
    margin-left: 30px;
}

.download {
    margin-left: 10px;
}

button {
    pointer-events: all;
}

img {
    opacity: 0.6;
}

a,
a:visited,
a:focus,
a:link {
    color: rgb(44, 66, 119);
}

.lds-ellipsis {
    z-index: 2;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #cef;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}


.menu {
    position: absolute;
    right: 80px;
    bottom: 50px;
}


.hidden {
    display: none;
}

.opaque {
    opacity: 0;
}

.actions {
    margin-top: 20px;
    display: inline-block;
}

.actions Button {
    margin-right: 20px;
}

.buttons-mobile {
    display: none;
    margin-right: 3px;
}


@media only screen and (max-width: 1200px) {
    .explanation {
        flex: 0;
        display: none;
    }

    .space {
        flex: 0.5;
    }

    .interaction {
        flex: 0.5;
        margin-right: 90px;
    }
}

@media only screen and (max-width: 768px) {
    .explanation {
        flex: 0;
        display: none;
    }

    .space {
        flex: 0;
    }

    .interaction {
        flex: 1;
        margin-right: 90px;
    }

    .buttons-non-mobile {
        display: none;

    }

    .buttons-mobile {
        display: block;
    }

    .buttons-mobile Button {
        display: block;
    }

    .actions Button {
        margin-right: 4px;
        margin-bottom: 4px;
        width: 30px;
    }

    .menu {
        right: 5px;
        bottom: 120px;
    }


}