<h2>{{resources.bit_by_bit}} {{resources.app_menu_more_examples}}</h2>
<p>{{resources.app_menu_more_examples_explanation}}</p>
<mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="resources.app_menu_more_examples_newbie">
        <div *ngFor="let example of basicExamples" class="example">
            <h3>{{example.title}}</h3>
            <a [routerLink]="['/']" [queryParams]="{examples: example.queryParam}" (click)="onClose()">
                <img [src]="example.image"/>
            </a>
            <a *ngIf="example.youtubeLink" class="youtube-link" [href]="example.youtubeLink" target="_blank">
                <img width="40px" height="30px" src="../assets/logo-youtube.svg" />
            </a>
            <p>{{example.description}}</p>
        </div>
    </mat-tab>
    <mat-tab [label]="resources.app_menu_more_examples_street_smart">
        <div *ngFor="let example of mediumExamples" class="example">
            <h3>{{example.title}}</h3>
            <a [routerLink]="['/']" [queryParams]="{examples: example.queryParam}" (click)="onClose()">
                <img [src]="example.image"/>
            </a>
            <a *ngIf="example.youtubeLink" class="youtube-link" [href]="example.youtubeLink" target="_blank">
                <img width="40px" height="30px" src="../assets/logo-youtube.svg" />
            </a>
            <p>{{example.description}}</p>
        </div>
    </mat-tab>
    <mat-tab [label]="resources.app_menu_more_examples_ninja"> 
        <div *ngFor="let example of advancedExamples" class="example">
            <h3>{{example.title}}</h3>
            <a [routerLink]="['/']" [queryParams]="{examples: example.queryParam}" (click)="onClose()">
                <img [src]="example.image"/>
            </a>
            <a *ngIf="example.youtubeLink" class="youtube-link" [href]="example.youtubeLink" target="_blank">
                <img width="40px" height="30px" src="../assets/logo-youtube.svg" />
            </a>
            <p>{{example.description}}</p>
        </div>
    </mat-tab>
  </mat-tab-group>
<br>
<button mat-button mat-raised-button (click)="onClose()">{{resources.app_button_close}}</button>
