.font {
    font-family: 'Trirong', serif;
    font-weight:400;
}

.actions {
    position: absolute;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

img.logo {
    max-width: 44px;
}

.mat-icon-button {
    margin-left: 2px;
}

.mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger {
    color: black;
}

.main-container {
    height:100%;
}

.main-side {
    width: 55px;
    padding: 5px;
    height:100%;
}

mat-tab-body {
    height: 100%;
}

.example-container {
    height: 100%;
}

.example-sidenav {
    width: 100%;
}

.main-content {
    height: 100%;
}

#blocklyDiv {
    position:absolute;
    height: 100%;
    width: 100%;
}

#blocklyArea {
    height: 100%;
    width: 100%;
}

.blocklyContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

::ng-deep .blocklyTreeRow {
    margin-top: 10px;
    margin-bottom: 7px;
    min-width: 100px;
    height: 30px;
    vertical-align: middle;
}

::ng-deep .blocklyIconShape {
    fill: black;
}

::ng-deep .geras-renderer.themeName-theme .blocklyText, ::ng-deep .geras-renderer.themeName-theme .blocklyNonEditableText>text, ::ng-deep  .geras-renderer.themeName-theme .blocklyEditableText>text {
    fill: #444;
    opacity: 1;
}

::ng-deep .geras-renderer.themeName-theme .blocklyNonEditableText>rect, ::ng-deep .geras-renderer.themeName-theme .blocklyEditableText>rect {
    stroke: #444;
    stroke-width: 1px;
}

::ng-deep .geras-renderer.themeName-theme .blocklySelected>.blocklyPath{
    stroke: #000;
    stroke-width: 1px;
    opacity: 0.9;
}

::ng-deep .geras-renderer.themeName-theme .blocklyDraggable {
    fill: #ddd;
    stroke-width: 1px;
}

::ng-deep .geras-renderer.themeName-theme tspan {
    fill: #666 !important;
}

::ng-deep .blocklyPath {
    stroke: #222;
    stroke-width: 1px;
}

::ng-deep .blocklyPathLight {
    stroke: #888888;
    stroke-width: 0;
}

::ng-deep .blocklyPathDark {
    stroke: #222;
    stroke-width: 2px;
}

::ng-deep .blocklyTreeSelected .blocklyTreeLabel {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    // opacity: 0.5;
}

::ng-deep .injectionDiv {
    outline: none;
}

::ng-deep .blocklyTreeLabel {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
}

mat-toolbar {
    height: 7%;
}

::ng-deep .blocklyMainBackground{
    stroke: none;
    opacity: 0.4;
}

.mat-drawer:not(.mat-drawer-side) {
    box-shadow: none;
}

h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    margin-left:auto;
    margin-right:auto;
}

.version {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
    text-align: center;
    width: 44px;
}

.example-spacer {
    flex: 1 1 auto;
}

#renderCanvas {
    width: 100%;
    height: 100%;
}

::ng-deep .blocklySvg, .mat-drawer {
    background-color: rgba(255,255,255,0.4);
}
