
img.logo {
    max-width: 44px;
    filter: invert(1);
    margin-right: 20px;
}

::ng-deep .main-container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

::ng-deep .main-content{
    margin-top: 70px;
}

::ng-deep button {
    outline: none !important;
}

::ng-deep a {
    outline: none !important;
}

nav {
    padding: 10px;
    background-color: #444;
    color: white;
}

.secondary-large-menu {
    margin-top: 3px;
    float: right;
}

::ng-deep .secondary-menu, .footer {
    background-color: #555;
    color: white;
}
::ng-deep .footer {
    padding: 40px;
}
::ng-deep .third-menu {
    background-color: #eee;
    padding:5px;
    top: 0;
    position: sticky;
    z-index: 1000;
}

::ng-deep .zero-padding {
    padding-left: 0;
    padding-right: 0;
}

::ng-deep .sidenav {
    background-color: #eee;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1000;
    height: calc(100vh);
    overflow-y: auto;
}
::ng-deep .sidenav .tree {
    background-color: #eee;
}

::ng-deep .mat-tree-node {
    font-size: 16px;
}

@media(max-width:767px){
    ::ng-deep .sidenav {
        position: sticky;
        top: 3rem;
        z-index: 1000;
        height: calc(100vh);
        overflow-y: auto;
    }
}

.mat-button.mat-primary {
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
}

::ng-deep .social-container {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

::ng-deep .social {
    display: inline-block;
    opacity: 0.6;
    margin: 5px;
}