@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300&display=swap');

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.explanation .scrolling::-webkit-scrollbar {
    background-color:rgba(0,0,0,0);
    width:4px
}

/* background of the scrollbar except button or resizer */
.explanation .scrolling::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0);
}
.explanation .scrolling::-webkit-scrollbar-track:hover {

    background-color:rgba(0,0,0,0);
}

/* scrollbar itself */
.explanation .scrolling::-webkit-scrollbar-thumb {

    background-color:rgba(0,0,0,0);
    border-radius:16px;
    border:1px solid #000;
}
.explanation .scrolling::-webkit-scrollbar-thumb:hover {

    background-color:rgba(0,0,0,0);
}

/* set button(top and bottom of the scrollbar) */
.explanation .scrolling::-webkit-scrollbar-button {display:none}

.main {
    width: 100%;
    height: 100%;
    background-color: #bbb;
}

.content {
    font-family: Roboto, Helvetica, Sans-Serif;
    font-weight: 300;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

h1 {
    margin-top:0px;
    font-weight: 200;
    font-size: 40px
}

h2 {
    font-weight: 300;
    color:white;
}

.space {
    flex: 0.5;
    pointer-events: none;
}

canvas { 
    position: absolute;
    outline: none;
    border: none;
    width:100%;
    height: 100%;
}

canvas :focus{
    outline: none;
}

.explanation {
    flex:0.2;
    margin: 40px;
    pointer-events:all;
}

.explanation .scrolling {
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    pointer-events:all;
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
    color: white;
}

.explanation p {
    padding-right: 20px;
    padding-left: 20px;
}

.interaction {
    flex:0.3;
    margin: 40px;
}

h1 {
    background: -webkit-linear-gradient(45deg, #3f51b5,#9fadff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    width: 32%;
    display: inline-block;
    margin: 1px;
    pointer-events:all;
}
mat-form-field{
    width: 100%;
}

.delete {
    margin: 20px;
    margin-left: 30px;
}

.download {
    margin-left:10px;
}

button {
    pointer-events: all;
}

img {
    opacity: 0.6;
}

a, a:visited, a:focus, a:link {
    color: rgb(192, 210, 255);
}
.lds-ripple {
    z-index: 2;
    top: calc( 50% - 75px );
    left: calc( 50% - 75px );
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 72px;
      left: 72px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 144px;
      height: 144px;
      opacity: 0;
    }
  }

  .hidden {
      display: none;
  }

  .opaque {
      opacity: 0;
  }