@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Global styles - minimal reset */
body {
    margin: 0px;
    background-color: #bbb;
}

html, body {
    width: 100%;
    height: 100%;
}

app-root {
    display: block;
    width: 100%;
    height: 100%;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
    background-color: #BBBBBB;
    width: 16px;
}
