::ng-deep .tree-link {
    color: #444;
}
::ng-deep .tree-link:hover {
    color: #444
}

::ng-deep .tutorial-part {
    margin-top: 50px;
}
::ng-deep .tutorial {
    margin-bottom: 50px;
}
::ng-deep .tree-invisible {
    display: none;
}
  
::ng-deep .tree ul,
::ng-deep .tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}


::ng-deep p {
    margin-top: 30px;
}

::ng-deep iframe {
    width: 100%;
    height: 440px;
}

::ng-deep img {
    width: 100%;
}

::ng-deep video {
    width: 100%;
}

::ng-deep .screenshot-image {
    border: 2px solid black;
}

::ng-deep dl {
    margin-top: 20px;
    margin-bottom: 20px;
}

::ng-deep .dark-link {
    color:#444;
    text-decoration: underline;
}


::ng-deep .dark-link:hover {
    color:#444;
    text-decoration: underline;
}